<div class="center jumbotron">
    <h1>Welcome to my MyResepies</h1>
    
    <h2>
        This is my provessional home page from developper sourse    
    </h2>
    
    <%= link_to "Sing up now!", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midwor">
            view Recepies as a guest user
        </h3>
        <h2 class="left">Browse and view recepies as a guest user or Sing up later</h2>
        <p><%= link_to "Browse Recepies Listings", recipes_path, class: "btn btn-warning btn-small"%></p>
    </div>
        <div class="col-lg-4">
        <h3 class="midwor">
            Sing in to your account
        </h3>
        <h2 class="left">Add/update your recipes/create rewiew/like-dislike recipes and much much more!</h2>
        <p><%= link_to "Log in to your account", login_path, class: "btn btn-warning btn-small"%></p>
    </div>
        <div class="col-lg-4">
        <h3 class="midwor">
            view Recepies as a guest user
        </h3>
        <h2 class="left">Browse and view recepies as a guest user or Sing up later</h2>
        <p><%= link_to "Browse Recepies Listings", "", class: "btn btn-warning btn-small"%></p>
    </div>
</div>